:root {
  --text-font: 1.2rem;
  --navigation-font: 1.2rem;
  --hero-title: 2.8rem;
  --hero-font: 1.3rem;
  --button-font: 1.1rem;
  --title-font: 2.5rem;
  --mini-font: 0.95rem;

  --header-footer-color: #121212;
  --primary-color: #534e7d;
}
body {
  font-family: "Montserrat", Arial, sans-serif;
}
